<mat-toolbar class="toolbarNavTop">
  <section class="d-none d-sm-block">

    <mat-toolbar-row style="background-color: #f8f8f8; height: 2.5rem; display: flex; flex-direction: row-reverse;">
      <mat-menu #login="matMenu">
        <ng-template matMenuContent>
          <button *ngIf="!localStorageV1.getItem('currentUser')" mat-menu-item (click)="openDialog()">Entrar</button>
          <button *ngIf="!localStorageV1.getItem('currentUser')" mat-menu-item
            (click)="openDialogSignUp()">Registrarse</button>
          <button *ngIf="localStorageV1.getItem('currentUser')" mat-menu-item (click)="signOut()">Cerrar sesión</button>
        </ng-template>
      </mat-menu>

      <button *ngIf="localStorageV1.getItem('currentUser'); else loginTemplate" mat-button [matMenuTriggerFor]="login"
        class="text-cutom-style-button">
        <mat-icon style="color: #999; text-align: center; margin-bottom: 8px;"><span class="material-icons"
            style="font-size: 18px !important;">perm_identity</span></mat-icon>
        {{localStorageV1.getItem('username')}}
        <mat-icon style="color: #999; text-align: center; margin-bottom: 8px;"><span class="material-icons"
            style="font-size: 18px !important;">keyboard_arrow_down</span></mat-icon>
      </button>

      <ng-template #loginTemplate>
        <button mat-button [matMenuTriggerFor]="login" class="text-cutom-style-button">
          <mat-icon style="color: #999; text-align: center; margin-bottom: 8px;"><span class="material-icons"
              style="font-size: 18px !important;">perm_identity</span></mat-icon>
          Mi Cuenta
          <mat-icon style="color: #999; text-align: center; margin-bottom: 8px;"><span class="material-icons"
              style="font-size: 18px !important;">keyboard_arrow_down</span></mat-icon>
        </button>
      </ng-template>


      <button mat-button class="text-cutom-style-button">
        <mat-icon style="color: #999; text-align: center; margin-bottom: 8px;"><span class="material-icons"
            style="font-size: 18px !important;">favorite</span></mat-icon>
        Lista de Deseos
      </button>


    </mat-toolbar-row>
  </section>

  <mat-toolbar-row style="background-color: white; height: 10rem !important;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 col-sm-3 col- col-lg-1">
          <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
        </div>

        <!-- Side nav -->


        <div class="col-4 col-sm-3 col-lg-1">
          <span class="example-spacer"></span>
          <span>Viste Bién</span>
          <span class="example-spacer"></span>
        </div>

        <div class="col-4 col-sm-2 d-block d-lg-none text-right">
          <button mat-icon-button color="warn" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon (click)="sidenavInfo.toggle()">menu</mat-icon>
          </button>
        </div>

        <div class=" col-8 d-none d-lg-block text-right">
          <mat-menu #categories="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="woman">Mujer</button>
            <button mat-menu-item [matMenuTriggerFor]="man">Hombre</button>
            <button mat-menu-item [matMenuTriggerFor]="boy">Niña</button>
            <button mat-menu-item [matMenuTriggerFor]="girl">Niño</button>
          </mat-menu>

          <mat-menu #woman="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item [routerLink]="['/tienda/mujer']">Todo los Departamentos</button>
              <button mat-menu-item [routerLink]="['/tienda/mujer/ropa']">Ropa</button>
              <button mat-menu-item [routerLink]="['/tienda/mujer/zapatos']">Zapatos</button>
              <button mat-menu-item [routerLink]="['/tienda/mujer/mochilas']">Mochilas</button>
              <button mat-menu-item [routerLink]="['/tienda/mujer/relojes']">Relojes</button>
              <button mat-menu-item [routerLink]="['/tienda/mujer/accesorios']">Accesorios</button>
              <button mat-menu-item [routerLink]="['/tienda/mujer/joyeria']">Joyería</button>
            </ng-template>
          </mat-menu>

          <mat-menu #man="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item [routerLink]="['/tienda/hombre']">Todo los Departamentos</button>
              <button mat-menu-item [routerLink]="['/tienda/hombre/ropa']">Ropa</button>
              <button mat-menu-item [routerLink]="['/tienda/hombre/zapatos']">Zapatos</button>
              <button mat-menu-item [routerLink]="['/tienda/hombre/mochilas']">Mochilas</button>
              <button mat-menu-item [routerLink]="['/tienda/hombre/relojes']">Relojes</button>
              <button mat-menu-item [routerLink]="['/tienda/hombre/accesorios']">Accesorios</button>
              <button mat-menu-item [routerLink]="['/tienda/hombre/joyeria']">Joyería</button>
            </ng-template>
          </mat-menu>

          <mat-menu #girl="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item routerLink="/tienda/nino" routerLinkActive="active">Todo los Departamentos</button>
              <button mat-menu-item routerLink="/tienda/nino/ropa" routerLinkActive="active">Ropa</button>
              <button mat-menu-item routerLink="/tienda/nino/zapatos" routerLinkActive="active">Zapatos</button>
              <button mat-menu-item routerLink="/tienda/nino/mochilas" routerLinkActive="active">Mochilas</button>
              <button mat-menu-item routerLink="/tienda/nino/relojes" routerLinkActive="active">Relojes</button>
              <button mat-menu-item routerLink="/tienda/nino/accesorios" routerLinkActive="active">Accesorios</button>
              <button mat-menu-item routerLink="/tienda/nino/joyeria" routerLinkActive="active">Joyería</button>
            </ng-template>
          </mat-menu>

          <mat-menu #boy="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item routerLink="/tienda/nina" routerLinkActive="active">Todo los Departamentos</button>
              <button mat-menu-item routerLink="/tienda/nina/ropa" routerLinkActive="active">Ropa</button>
              <button mat-menu-item routerLink="/tienda/nina/zapatos" routerLinkActive="active">Zapatos</button>
              <button mat-menu-item routerLink="/tienda/nina/mochilas" routerLinkActive="active">Mochilas</button>
              <button mat-menu-item routerLink="/tienda/nina/relojes" routerLinkActive="active">Relojes</button>
              <button mat-menu-item routerLink="/tienda/nina/accesorios" routerLinkActive="active">Accesorios</button>
              <button mat-menu-item routerLink="/tienda/nina/joyeria" routerLinkActive="active">Joyería</button>
            </ng-template>
          </mat-menu>

          <button routerLink="/home" routerLinkActive="active" class="button-style" mat-button>
            Inicio <mat-icon aria-hidden="false"></mat-icon>
          </button>

          <button class="button-style" mat-button [matMenuTriggerFor]="categories">
            Categorías <mat-icon aria-hidden="false"><span class="material-icons">keyboard_arrow_down</span>
            </mat-icon>
          </button>

          <button class="button-style" mat-button routerLink="/ayuda">
            Ayuda
          </button>

          <button class="button-style" mat-button routerLink="/nosotros">
            Nosotros
          </button>
        </div>

        <div class="d-none d-sm-block col-2">

          <mat-menu #car="matMenu">
            <div
              style="display: flex; align-items: center; margin-top: 0.5rem; margin-bottom: 0.5rem; margin-left: 1rem; margin-right: 1rem;"
              *ngFor="let item of products$ |async">
              <img class="thumbnail" [src]="item.subImage1">
              <div style="margin-left: 1.5rem; margin-right: 1.5rem;">
                <h5>{{item.name}}</h5>
                <p class="p-style">{{item.orders}} X {{item.price}}</p>
              </div>
              <div style="margin-right: 1rem; margin-left: 1rem; cursor: pointer" (click)="removeProduct(item.id)">
                <i class="fas fa-times" style="color: #777;"></i>
              </div>
            </div>

            <mat-divider></mat-divider>

            <div style="margin: 1rem; display: flex; flex-direction: row; justify-content: space-between;">
              <h5 style="color: #777; font-family: sans-serif;">Total:</h5>
              <h5 style="color: #777; font-family: sans-serif;">${{totalprice}}.00</h5>
            </div>

            <mat-divider></mat-divider>

            <div
              style="margin-top: 1rem; margin-bottom: 1rem; margin-left: 0.3rem; margin-right: 0.3rem; display: flex; flex-direction: row; justify-content: space-between;">
              <button class="button-hover" mat-button target="_blank" routerLink="cart" routerLinkActive="active">Ver
                Carrito</button>
              <button class="button-hover" mat-button target="_blank" routerLink="checkout"
                routerLinkActive="active">Pagar</button>
            </div>
          </mat-menu>


          <!-- <button mat-icon-button>
            <mat-icon><span class="material-icons" style="color: #777;">search</span></mat-icon>
          </button> -->

          <mat-menu #config="matMenu">
            <button mat-menu-item>Español</button>
            <button mat-menu-item>Ingles</button>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="config">
            <mat-icon><span class="material-icons" style="color: #777;">settings</span></mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="car">
            <mat-icon [matBadgeHidden]="!(products$|async) || (products$|async)?.length == 0"
              [matBadge]="(products$|async)?.length || 0" matBadgeColor="warn"><span class="material-icons"
                style="color: #777;">shopping_cart</span></mat-icon>
          </button>

        </div>
      </div>
    </div>
  </mat-toolbar-row>

</mat-toolbar>



<div class="container-fluid">
  <div class="row">
    <div class="d-col-block d-sm-none">
      <mat-toolbar class="toolbarNav">
        <!-- <button mat-icon-button style="margin-left: 2rem;">
          <mat-icon svgIcon="custom_search"></mat-icon>
        </button> -->
        <button mat-icon-button>
          <mat-icon svgIcon="custom_favorite"></mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="car">
          <mat-icon svgIcon="custom_shopping_cart"
            [matBadgeHidden]="!(products$|async) || (products$|async)?.length == 0"
            [matBadge]="(products$|async)?.length || 0" matBadgeColor="warn"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="custom_user"></mat-icon>
        </button>
        <button mat-icon-button style="margin-right: 2rem;" [matMenuTriggerFor]="config">
          <mat-icon svgIcon="custom_settings"></mat-icon>
        </button>
      </mat-toolbar>

    </div>
  </div>
</div>

<!-- side bar left and rigth -->

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-selection-list #category [multiple]="false" style="margin-top: 8rem; margin-left: 2rem;">
      <mat-list-option routerLink="/store/all/clothes">Ropa</mat-list-option>
      <mat-list-option routerLink="/store/all/shoes">Zapatos</mat-list-option>
      <mat-list-option routerLink="/store/all/bag">Mochilas</mat-list-option>
      <mat-list-option routerLink="/store/all/watch">Relojes</mat-list-option>
      <mat-list-option routerLink="/store/all/accesories">Accesorios</mat-list-option>
      <mat-list-option routerLink="/store/all/jewelry">Joyería</mat-list-option>      
      <mat-list-option routerLink="/store/all">Todo los Departamentos</mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav #sidenavInfo position="end">
    <mat-list role="list" #nav style="margin-top: 8rem; margin-left: 2rem;">
      <mat-list-item role="listitem">
        <button routerLink="/home" routerLinkActive="active" class="button-style" mat-button>
          Inicio <mat-icon aria-hidden="false"></mat-icon>
        </button>
      </mat-list-item>
      
      <mat-list-item role="listitem">
        <button class="button-style" mat-button [matMenuTriggerFor]="categories">
          Categorías <mat-icon aria-hidden="false"><span class="material-icons">keyboard_arrow_down</span>
          </mat-icon>
        </button>
      </mat-list-item>
  
      <mat-list-item role="listitem">
        <button class="button-style" mat-button routerLink="/ayuda">
          Ayuda
        </button>
      </mat-list-item>

      <mat-list-item role="listitem"> <button class="button-style" mat-button>
        Nosotros
      </button></mat-list-item>     
  
     
    </mat-list>    
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>