.small-toolbar {
  background-color: #f8f8f8;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .toolbarNav {  
    position: fixed;
    bottom: 0; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color:#333;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
   box-shadow:        2px 2px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.toolbarNavTop {  
  position: fixed;
  // height: 5rem;
  top: 0; 
  height: 6rem !important;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  // padding: 2em;  

-webkit-box-shadow: 3px 3px 5px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow:    3px 3px 5px 0px #ccc;  /* Firefox 3.5 - 3.6 */
 box-shadow:        2px 2px 4px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.text-cutom-style-button {
  font-family: sans-serif;
  font-size: 14px;
  color: #999;
}

.icons-bottom-tolbar {
  color: #ccc;
}

.icons-align {
  text-align: center;
}

// Navegation Bar
.button-style {
  font-family: sans-serif;
  color: #222;
  font-size: 16px;
  font-weight: 400;    
  text-transform: uppercase;
  letter-spacing: .07em;
  border: none;
}

.button-style:hover {
  color: #ff4c3b;  
}

button:focus {
  outline: none;  
}

::ng-deep .button-hover :hover {
  color: #ff4c3b; 
}

// .button-style:active {
//   color: #ff4c3b;
// }


::ng-deep.mat-dialog-container {
  padding: 0px !important;
}


// .toolbarNavTop {
//   top: 0;
//   &.hide {
//     transform: translate3d(0, -100%, 0);
//   }
// }

// animate row toolbar

.animatedFavorite {
  display: inherit;
  animation-duration: 1s;
  animation-name: slidein;   
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}  

.thumbnail {
  width: 60px;
  height: 80px;  
}

.p-style {
  display: block!important;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 14px;
  color: #777;
}

h5 {
  font-size: 16px;
  color: #222;
  letter-spacing: .05em;
  text-align: center;
  font-family: sans-serif;
  margin: 0 !important;
}

// car navbar
::ng-deep .mat-menu-content:not(:empty) {  
  width: 250px;
}