<section style="margin-top: 8rem; margin-bottom: 20rem;" class="container">

    <section>
        <div class="row">
            <div class="col-12 col-md-3">
                <img src="../../../../assets/images/us/real-shop.jpg" alt=""
                    class="img-manager img-thumbnail mx-auto d-block">
            </div>
            <div class="col-12 col-md-9 text text-justify" style="background-color: #f7f7f7;">
                <h3 style="font-family: 'Times New Roman', Times, serif; color: #999;" class="text text-center">QUIENES
                    SOMOS</h3>
                <p style="font-family: 'Times New Roman', Times, serif; margin-left: 5px; margin-right: 5px;">
                    Somos un grupo de personas con un objetivo claro, satisfacer las necesidades de nuestros clientes,
                    traer felicidad a sus vidas con nuestros productos. Pondremos a tu alcance, directo hasta la puerta
                    de tu casa las últimas modas en el mercado, accesorios a los cuales los cubanos
                    no podemos acceder por disímiles razones, todos nuestros productos con calidad asegurada y probada,
                    tan solo al alcance de un click.
                </p>
            </div>
        </div>
    </section>

    <br />

    <section>
        <div class="row">
            <div class="col-12 col-md-3">
                <img src="../../../../assets/images/manager/manager.jpg" alt=""
                    class="img-manager img-thumbnail mx-auto d-block">
            </div>

            <div class="col-12 col-md-9" style="background-color: #f7f7f7;">
                <h3 class="text text-center" style="font-family: 'Times New Roman', Times, serif; color: #999;">
                    DIRECTORA GENERAL</h3>
                <p style="font-family: 'Times New Roman', Times, serif; margin-left: 5px; margin-right: 5px;">
                    Hola, mi nombre es <a mat-button href="https://www.linkedin.com/in/dialina-luis-0858902b/"
                        target="_blank">Dialina Luis García</a>
                </p>
            </div>
        </div>
    </section>

    <br />

    <section class="small-section">
        <div class="row">
            <div class="col-12 text text-center">
                <h3 style="font-family: 'Times New Roman', Times, serif; color: #999;">GARANTIZAMOS</h3>
            </div>

            <div class="col-4 text text-center">
                <img src="../../../../assets/icons/about-us/novedad.png" alt="" class="img-style">
            </div>

            <div class="col-4 text text-center">
                <img src="../../../../assets/icons/about-us/confianza.png" alt="" class="img-style">
            </div>

            <div class="col-4 text text-center">
                <img src="../../../../assets/icons/about-us/calidad.png" alt="" class="img-style">
            </div>
        </div>

        <div class="row">
            <div class="col-4 text text-center">
                <h4 style="font-family: 'Times New Roman', Times, serif; color: #999;">Novedad</h4>
            </div>

            <div class="col-4 text text-center">
                <h4 style="font-family: 'Times New Roman', Times, serif; color: #999;">Confianza</h4>
            </div>

            <div class="col-4 text text-center">
                <h4 style="font-family: 'Times New Roman', Times, serif; color: #999;">Calidad</h4>
            </div>
        </div>
    </section>



</section>