<mat-dialog-content style="margin: 0 !important; padding: 0 !important; max-height: 100% !important;">
    <section style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-lg-left mx-sm-auto mx-lg-0">
                    <img class="img-fluid" [defaultImage]="data.subImage1" [lazyLoad]="data.subImage1"
                        class="d-block w-100" alt="...">
                </div>

                <div class="col-12 text-center text-lg-left col-lg-6">
                    <h1 style="font-family: sans-serif;">{{data.name}}</h1>
                    <h4 style="font-size: x-large; color: #222; font-weight: 400;">${{data.price}}.00</h4>

                    <ul style="padding-left: 0; margin-top: 1rem; vertical-align: middle;">
                        <li class="yellow" style="background-color: yellow; height: 20px;
                    width: 20px; border-radius: 100%; margin-right: 5px; display: inline-block; "></li>
                        <li class="white" style="background-color: white; height: 20px; border: 1px solid #aaa;
                    width: 20px; border-radius: 100%; margin-right: 5px; display: inline-block;"></li>
                        <li class="pink" style="background-color: pink; height: 20px;
                    width: 20px; border-radius: 100%; margin-right: 5px; display: inline-block;"></li>
                    </ul>

                    <mat-divider style="margin-top: 0.5rem; margin-bottom: 0.5rem; border-top-style: dashed!important;">
                    </mat-divider>

                    <div>
                        <h6 style="font-family: sans-serif; font-weight: bold;">Detalles</h6>
                        <p class="p-style">{{data.description}}</p>
                    </div>

                    <mat-divider style="margin-top: 0.5rem; margin-bottom: 0.5rem; border-top-style: dashed!important;">
                    </mat-divider>

                    <div>
                        <h6 style="font-family: sans-serif; font-weight: bold;">Tallas Disponibles</h6>
                        <ul class="size-variant" style="padding-left: 0; display: inline-flex; align-items: center;
                    justify-content: center; flex-direction: row; list-style: none;">
                            <li style="border: 1px solid rgb(248, 244, 244); color: #222;
                        font-size: 18px; height: 100%; height: 30px; width: 30px; border-radius: 100%;
                        margin-right: 5px; vertical-align: middle; text-align: center;">S</li>
                            <li style="border: 1px solid rgb(248, 244, 244); color: #222;
                        font-size: 18px; height: 100%; height: 30px; width: 30px; border-radius: 100%;
                        margin-right: 5px; vertical-align: middle; text-align: center;">M</li>
                            <li
                                style="border: 1px solid rgb(248, 244, 244); font-size: 18px; height: 100%;
                         height: 30px; width: 30px; border-radius: 100%; margin-right: 5px; vertical-align: middle; text-align: center;">
                                L</li>
                        </ul>
                    </div>

                    <div>
                        <h6 style="font-family: sans-serif; font-weight: bold; margin-top: 1rem;">Cantidad</h6>
                        <form>
                            <mat-form-field appearance="fill">
                                <input matInput type="number" placeholder="Ex. 10" min="10">
                            </mat-form-field>
                        </form>
                    </div>

                    <div style="display: flex;">
                        <button mat-flat-button color="warn" style="font-family: sans-serif;">AGREGAR AL
                            CARRITO</button>
                        <button mat-flat-button color="warn" style="font-family: sans-serif; margin-left: 5px;">COMPRAR
                            AHORA</button>

                    </div>



                </div>
            </div>
        </div>
    </section>
</mat-dialog-content>